*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #333;
  background: url(../img/login_bg.jpg) fixed no-repeat;
  background-size: 100% 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
a {
  text-decoration: none;
  color: #337ab7;
}
a:focus, a:hover {
  color: #23527c;
}
input[type="text"],
input[type="password"] {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: all .3s;
}
input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
button {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: bottom;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button-text {
  padding: 0 3px;
  color: #fff;
  font-size: 16px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.is-error input:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c76161;
}
.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.container-fluid:after,
.container-fluid:before {
  display: table;
  content: '';
}
.clearfix:after,
.container:after,
.container-fluid:after {
  clear: both
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right
}
.pull-left {
  float: left
}
.m-t {
  margin-top: 15px
}
.m-b {
  margin-bottom: 15px
}
.m-r {
  margin-right: 15px;
}
.m-l {
  margin-left: 15px;
}
.text-center {
  text-align: center
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transition {
  transition: all .3s
}
.el-button--block {
  width: 100%
}
/** bootstrap style **/
.panel {
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background-color: #fff;
}
.panel-heading {
  padding: 12px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  a {
    color: #fff;
  }
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  vertical-align: middle
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #20a0ff;
}
.panel-body {
  padding: 30px;
}
dl {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
.page-header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eee;
}
.form-control {
  width: 100% !important;
}

/* element-ui style */
.uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.uploader .el-upload:hover {
  border-color: #20a0ff;
}
.uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.card-title {
  line-height: 36px; 
  font-size: 20px; 
  font-weight: bold
}
