*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
  background: url(../img/login_bg.jpg) fixed no-repeat;
  background-size: 100% 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.toolbar:after,
.toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before {
  display: table;
  content: '';
}
.toolbar:after,
.clearfix:after,
.container-fluid:after {
  clear: both
}
.pull-right {
  float: right
}
.pull-left {
  float: left
}
.m-t {
  margin-top: 15px
}
.m-b {
  margin-bottom: 15px
}
.m-r {
  margin-right: 15px;
}
.m-l {
  margin-left: 15px;
}
.text-center {
  text-align: center
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transition {
  transition: all .3s
}
.el-button--block {
  width: 100%
}
.panel {
  border-radius: 4px;
  background: #fff
}
.panel-heading {
  margin: 0 0 30px;
  padding: 10px;
  color: #fff;
  text-indent: 1em;
  background: #20a0ff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.form-control {
  width: 100% !important;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-active {
  /*transform: translateX(30px);*/
  opacity: 0;
}
