*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333;
  background: url(../img/login_bg.jpg) fixed no-repeat;
  background-size: 100% 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.toolbar:after,
.toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before {
  display: table;
  content: '';
}
.toolbar:after,
.clearfix:after,
.container-fluid:after {
  clear: both
}
.pull-right {
  float: right
}
.pull-left {
  float: left
}
.m-t {
  margin-top: 15px
}
.m-b {
  margin-bottom: 15px
}
.m-r {
  margin-right: 15px;
}
.m-l {
  margin-left: 15px;
}
.text-center {
  text-align: center
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.transition {
  transition: all .3s
}
.el-button--block {
  width: 100%
}
.panel {
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background-color: #fff;
}
.panel-heading {
  padding: 12px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  vertical-align: middle
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #20a0ff;
}
.panel-body {
  padding: 30px;
}
.form-control {
  width: 100% !important;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-active {
  /*transform: translateX(30px);*/
  opacity: 0;
}
.uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.uploader .el-upload:hover {
  border-color: #20a0ff;
}
.uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
